<div class="container">
    <div class="row ">
        <div class="col-md-6 col-sm-6 col-xs-12 d-flex align-items-center">
            <p style="text-align: justify;" >Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates assumenda laborum in, 
                tempora itaque ab commodi neque ist
                e atque corrupti ut omnis recusandae cum autem ducimus nobis doloribus ipsa esse.
            </p>
            <p style="text-align: justify;" >Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates assumenda laborum in, 
                tempora itaque ab commodi neque ist
                e atque corrupti ut omnis recusandae cum autem ducimus nobis doloribus ipsa esse.
            </p>
            <p style="text-align: justify;" >Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates assumenda laborum in, 
                tempora itaque ab commodi neque ist
                e atque corrupti ut omnis recusandae cum autem ducimus nobis doloribus ipsa esse.
            </p>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <img style="height: 500px; width: 100%;" src="https://img.freepik.com/vector-gratis/ilustracion-concepto-mision-empresarial_114360-7435.jpg?w=2000" alt="">
        </div>
    </div>
    
</div>
